<footer class = "footer">
    <div class = "contenedor-elementos-footer">
        <div class = "elemento-footer">
            <div class = "icono-footer">
                <i class="fas fa-credit-card fa-em"></i>
            </div>

            <p class = "titulo">Paga con tarjeta o efectivo</p>
            <p class = "cuerpo-texto">Tenés cuotas sin interés </p>
            <p class = "cuerpo-texto">con tarjeta o efectivo en puntos de pago. ¡Y Siempre</p>
            <p class = "cuerpo-texto"> es seguro!</p>
        </div>
        <div class = "elemento-footer">
            <div class = "icono-footer">
                <i class="fas fa-gift fa-em"></i>
            </div>   
            <p class = "titulo">Envio gratis desde $2500</p>
            <p class = "cuerpo-texto">Solo por estar registrad@ en Tienda Golf Eos tenés</p> 
            <p class = "cuerpo-texto">envíos gratis en miles de productos. Es un beneficio</p>
            <p class = "cuerpo-texto">de Tienda Puntos.</p>
        </div>
        <div class = "elemento-footer">
            <div class = "icono-footer">
                <i class="fas fa-user-shield fa-em"></i>
            </div>  
            <p class = "titulo">Seguridad, de principio a fin</p>
            <p class = "cuerpo-texto">¿No te gusta? ¡Devolvelo! En Tienda golf EOS, no hay </p>
            <p class = "cuerpo-texto">nada que no puedas hacer, porque estás siempre</p> 
            <p class = "cuerpo-texto">protegid@.</p>
        </div>
    </div>
    <div class = "ultima-parte-footer">

        <p class = "copyright-footer">Copyright © 1999-2020 TiendaGolfEos S.R.L.</p>
        
    </div>
        
</footer>