<header class = "main-header">
    <div class = "top-navBar">
        <div class = "contenedor-logo">
            <a href = "/"><img src = "/img/logo-mercado-liebre.svg" class = "logo"></a>
        </div>    
        <div id = "contenedor-barra-busqueda-header" class="form-group fg--search search-bar">
            <input type="text" class="input" placeholder=" Buscar productos, marcas y más ">
            <button class = "boton-busqueda-header" type="submit"><i class="fa fa-search"></i></button>
        </div>
        <div class = "copy-header">
            <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </div>
    </div>

    <div class="navBar">
        <div id="myLinks" class = "elementos-izquierda-navBar">
            <a href="/" >Todos los productos</a>
            <a href="#" >Ofertas</a>
            <a href="#" >Tiendas Oficiales</a>
            <a href="/productos/crear">Vender</a>
            <a href="#" >Ayuda</a>
        </div>
        <div class = "elementos-derecha-navBar">   
            <a href="/usuarios/register" >Creá tu cuenta <i class="far fa-address-card"></i></a>
            <a href="/usuarios/login" >Ingresá <i class="fas fa-sign-in-alt"></i></a>
            <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
        </div>
    </div>
</header> 