<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header class = "main-header">
        <div class = "main-header-top-bar">
            <div class = "contenedor-logo">
                <img src = "/img/logo-mercado-liebre.svg" class = "logo">
            </div>    
            <div id = "barra-busqueda-header" class="form-group fg--search search-bar">
                <input type="text" class="input" placeholder=" Buscar productos, marcas ">
                <button class = "boton-busqueda-header" type="submit"><i class="fa fa-search"></i></button>
            </div>
            <br>
            <br>
            <div class = "copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </div>
        </div>
        <br>
        <a href="#" class = "hamburger-button">
            <i class="fas fa-bars"></i>
        </a>
        <nav class = "main-navbar">
            <ul class = "left-navbar">
                <li><a href="#">Todos los productos</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class = "right-navbar">
                <li><a href="#">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        
    </header> 
    <img src = "/img/img-home-banner.jpg" class = "banner">
    <main class = "main-seccion">
        <br>
        <p class = "titulares-seccion" >Basado en tu ultima visita</p>
        <br>
        <section class = "seccion-articulos">
            <article class = "articulo">
                <img class = "imagen" src = "/img/img-macbook-pro-2019.jpg">
                <div class = "elementos-articulo">
                    <div class = "camion-logo">
                        <i class="fas fa-truck truck-logo"></i>
                    </div>
                    <div class="container-product-info">
                        <ul class="lista-oferta-precio">
                            <li type="none" class="precio">$230.000</li>
                            <li type="none" class="oferta">20% OFF</li>
                        </ul>
                    </div>
                    <br>
                    <h4 class="descripcion">Macbook Pro 2019</h4>
                </div>
            </article>
            <article class = "articulo">
                    <img class = "imagen" src= "/img/img-samsung-galaxy-s10.jpg" >
                    <div class = "elementos-articulo">
                        <div class = "camion-logo">
                            <i class="fas fa-truck truck-logo"></i>
                        </div>
                        <div class="container-product-info">
                            <ul class="lista-oferta-precio">
                                <li type="none" class="precio">$70.7500</li>
                                <li type="none" class="oferta">10% OFF</li>
                            </ul>
                        </div>
                        <br>
                        <h4 class = "descripcion">Samsung Galaxy s10</h3>
                    </div>
                </article>
                <article class = "articulo">
                    <img class = "imagen" src= "/img/img-cafetera-moulinex.jpg" >
                    <div class = "elementos-articulo">
                        <div class = "camion-logo">
                            <i class="fas fa-truck truck-logo"></i>
                        </div>
                        <div class="container-product-info">
                            <ul class="lista-oferta-precio">
                                <li type="none" class="precio">$6.700</li>
                                <li type="none" class="oferta">40% off</li>
                            </ul>
                        </div>
                        <br>
                        <h4 class = "descripcion">Cafetera Moulinex</h4>
                    </div> 
                </article>
                <article class = "articulo">
                    <img class = "imagen" src= "/img/img-tv-samsung-smart.jpg" >
                    <div class = "elementos-articulo">
                        <div class = "camion-logo">
                            <i class="fas fa-truck truck-logo"></i>
                        </div>
                        <div class="container-product-info">
                            <ul class="lista-oferta-precio">
                                <li type="none" class="precio">$23.200</li>
                                <li type="none" class="oferta">5% off</li>
                            </ul>
                        </div>
                        <br>
                        <div class = div-descripcion>
                            <h4 class = "descripcion">SmartTv Samsung 43"</h4>
                        </div>
                    </div> 
                </article>
        </section>
        <br>
        <h2 class = "titulares-seccion" >Ofertas</h2>    
        <br>
            <section class = "seccion-articulos">
                <article class = "articulo">
                    <img class = "imagen" src="/img/img-cafetera-moulinex.jpg">
                    <div class="elementos-articulo">
                        <div class = "camion-logo">
                            <i class="fas fa-truck truck-logo"></i>
                        </div>
                        <ul class="lista-oferta-precio">
                            <li type="none" class="precio">$6.700</li>
                            <li type="none" class="oferta">40% off</li>
                        </ul>
                    <h4 class = "descripcion">Cafetera Moulinex</h4>
                    </div>
                 </article>
                <article class = "articulo">
                    <img class = "imagen" src="/img/img-tv-samsung-smart.jpg">
                    <div class="elementos-articulo">
                        <div class = "camion-logo">
                            <i class="fas fa-truck truck-logo"></i>
                        </div>
                        <ul class="lista-oferta-precio">
                            <li type="none" class="precio">$23.200</li>
                            <li type="none" class="oferta">5% off</li>
                        </ul>
                    <h4 class = "descripcion">SmartTv Samsung 43"</h4>
                    </div>  
                </article>
                <article class = "articulo">
                    <img class = "imagen" src = "/img/img-macbook-pro-2019.jpg">
                    <div class="elementos-articulo">
                        <div class = "camion-logo">
                        <i class="fas fa-truck truck-logo"></i>
                        </div>
                    <ul class="lista-oferta-precio">
                        <li type="none" class="precio">$230.000</li>
                        <li type="none" class="oferta">20% OFF</li>
                    </ul>
                    <h4 class = "descripcion">Macbook Pro 2019</h4>
                    </div>
                </article>
                <article class = "articulo">
                    <img class = "imagen" src= "/img/img-samsung-galaxy-s10.jpg" >
                    <div class="elementos-articulo">
                        <div class = "camion-logo">  
                            <i class="fas fa-truck truck-logo"></i>
                        </div>
                        <ul class="lista-oferta-precio">
                            <li type="none" class="precio">$70.500</li>
                            <li type="none" class="oferta">10% off</li>
                        </ul>
                    <h4 class = "descripcion">Samsung Galaxy S10</h4>
                    </div>
                </article>
                </section>
    <br>
    <br>
    <br>            
    </main>
    <br>
    <footer class = "pie-de-pagina">
        <div class = "contenedor-elementos-footer">
            <div class = "elemento-footer">
                <div class = "icono-footer">
                    <i class="fas fa-credit-card fa-em"></i>
                </div>

                <p class = "titulo">Paga con tarjeta o efectivo</p>
                <p class = "cuerpo-texto">Con mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y Siempre es seguro!</p>
            </div>
            <div class = "elemento-footer">
                <div class = "icono-footer">
                    <i class="fas fa-gift fa-em"></i>
                </div>   
                <p class = "titulo">Envio gratis desde $2500</p>
                <p class = "cuerpo-texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class = "elemento-footer">
                <div class = "icono-footer">
                    <i class="fas fa-user-shield fa-em"></i>
                </div>  
                <p class = "titulo">Seguridad, de principio a fin</p>
                <p class = "cuerpo-texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </div>
        <br>
        <br>
        <div class = "ultima-parte-footer">

            <p class = "copyright-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            
        </div>
            
    </footer>
</body>
</html>