<html>
    <head>
        <link rel ="icon" href="/img/logo-mercado-liebre.ico">
    </head>
    <body>
        <p> 404! Error!</p>
       <p>  Recurso no encontado y/o eliminado</p>
    </body>
</html>