<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        <label for="nombreyApellido">Nombre y Apellido</label>
        <input type="text" name="nombreyApellido" id="nombreyApellido">

        <label for="nombreUsuario">Nombre de usuario</label>
        <input type="text" name="nombreUsuario" id="nombreUsuario">

        <label for="fechaNacimiento">Fecha de nacimiento</label>
        <input type="date" name="fecha" id="fechaNacimiento">

        <label for="domicilio">Domicilio</label>
        <input type="text" name="domicilio" id="domicilio">

        <label>Perfil del usuario</label>
        <input type="radio" name="perfil" value="Vender">
        <input type="radio" name="perfil" value="Comprar">

        <label>Categoria de interés</label>
        <select name="categoria">
            <option value="electro">Electro</option>
            <option value="moda">Moda</option>
            <option value="hogar">Hogar</option>
            <option value="jugueteria">Jugueteria</option>
            <option value="vida-sana">Vida sana</option>
        </select>
        
        <label>Foto de Usuario</label>
        <input
        
        
        


    </form>
</body>
</html>