<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Registro</title>
        <link rel="stylesheet" href="/css/registro-style.css">
    </head>
    <%- include("partials/head.ejs") %>
    <body>
        <div class = "contenedor-logo-registro">
            <a href = "/"><img src = "/img/logo-mercado-liebre.svg" class = "logo-registro" width="200px"></a>
        </div>   
        <section class = "form-register">
            <h4>Crear Cuenta</h4>
            <form method="POST" action="/usuarios/register">
                <div class="div-registro">
                    <input class ="controls" type ="text" name ="firstName" placeholder="Ingrese su Nombre">
                    <input class ="controls" type ="text" name ="lastName" placeholder="Ingrese su Apellido">
                </div>
                <div class="div-registro">
                    <input class ="controls" type ="text" name ="usuario" placeholder="Ingrese su Nombre de Usuario">
                    <input class ="controls" type ="email" name ="email"  placeholder="Ingrese su Correo">
                </div>
                <div class="div-registro">
                    <input class ="controls" type ="text" name ="direccion"  placeholder="Ingrese su direccion">
                    <input class ="controls" type ="date" name ="nacimiento"  placeholder="Ingrese su Fecha de Nacimiento">
                </div>
                    <div class="div-registro">
                    <input class ="controls" type ="password" name ="password"  placeholder="Ingrese su Contraseña">
                    <input class ="controls" type ="password" name ="password-confirmar"  placeholder="Confirme su Contraseña">
                </div>    
                <div>
                    <label>Perfil del Usuario</label>
                    <br>
                    <label for = "Comprador">Comprador</label>
                    <input class = "input-login-registro" type="checkbox" name = "category">
                    <label for = "Vendedor">Vendedor</label>
                    <input class = "input-login-registro" type="checkbox" name = "category">
                </div>
                <p>Estoy de acuerdo con <a href="#">Terminos y condiciones</a></p>
                <a><input class="submit" type="submit" value="Registrar" ></a>
                <p><a href="/usuarios/login">¿Ya tengo cuenta?</a></p>
            </form>
        </section>
        <div class = "ultima-parte-footer">

            <br>
            <p class = "copyright-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            
        </div>
    </body>
</html>