
<html lang="en">
    <head>
        <title>Registro</title>
        <link rel="stylesheet" href="/css/registro-style.css">
    </head>
    <%- include("partials/head.ejs") %>
    <body>
        <%- include("partials/header.ejs") %>
        <section class = "form-register">
            <h4>Editando usuario <%= userToEdit.name %></h4>
            <form method="POST" action="/usuarios/edit?_method=PUT">
                <div class="div-registro">
                    <input class ="controls" type ="text" name ="nombres" value ="<%= userToEdit.name %>">
                </div>
                <input type="submit" value="Editar" >
            </form>
        </section>
        <div class = "ultima-parte-footer">

            <br>
            <p class = "copyright-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            
        </div>
    </body>
</html>