* {
    box-sizing: border-box;
}

h1 {
    padding: 10px;
}

.boton {
    border-radius: 5px;
    background-color: red;
}

    .top-navBar{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        padding: 10px;
        background-color: #EAC926
        
    }
    #contenedor-barra-busqueda-header{
        display: flex;
        width: 500px;
        height: 36px;
        margin-top: 5px;
    }
    .contenedor-logo{
        width: 200px;
    }
    
    .copy-header{
        display: flex;
        text-align: center;
        font-family: "roboto";
        width: 310px;
        margin-top: 10px;
    }
    
    
    .navBar {
        overflow: hidden;
        background-color: #EAC926;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .elementos-izquierda-navBar {
        display: flex;
    }
    .elementos-derecha-navBar {
        display: flex;
    }
    
    .navBar a {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
      
    .logo{
        width: 100%;    
    }
    
    .input{
        width: 470px;
    }

    .footer {
        width: 100%;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
    }
    
    .contenedor-elementos-footer{
        text-align: center;
        font-family: 'Roboto';
        padding: 15px;
        display: flex;
        justify-content: space-around;
        
    }
    
    .icono-footer{
        margin-bottom: 10px;
        color: #1259c3;
        font-size: 2em;
    }
    
    .ultima-parte-footer{
        border-top:solid 1px #ebebeb;
        padding: 10px;
        font-size: 10px;
    }
    
    .copyright-footer{
        font-family: "roboto";
        font-size: 12px;
        margin-left: 5px;
        text-align: center;
    }
    
    
    .cuerpo-texto{
        font-size: 12px;
        font-family: "roboto";
        margin: auto;
    }
    
.container-section-aside{
    display: flex;
    padding: 40px;
    margin: auto;
}

.container-section{
    width: 70%;
}

.container-aside{
    width: 30%;
       
}

.ul-categorias{
    list-style: none;
}

hr {
    border:none;
    height: 20px;
    width: 90%;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 20px 20px -20px #333;
    margin: -50px auto 10px; 
  }

.container-article{
    border: solid 1px black;
    
   
    
}

.articles{
    display: flex;
    justify-content: space-around;
}