* {
    box-sizing: border-box;
}

#carouselExampleIndicators {
    padding: 0;
    max-width: none;
    width: 100%;
    position: relative;
}

/* MAIN */

.banner{
    width: 100%;
}

.container-main{
    border: solid grey 1px;
    
}
/* MAIN */
.container-novedades{
    margin:auto;
    padding: 10px;
}

/*FOOTER*/

.footer {
    width: 100%;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}

.contenedor-elementos-footer{
    text-align: center;
    font-family: 'Roboto';
    padding: 15px;
    display: flex;
    justify-content: space-around;
    
}

.icono-footer{
    margin-bottom: 10px;
    color: #1259c3;
    font-size: 2em;
}

.ultima-parte-footer{
    border-top:solid 1px #ebebeb;
    padding: 10px;
    font-size: 10px;
}

.copyright-footer{
    font-family: "roboto";
    font-size: 12px;
    margin-left: 5px;
    text-align: center;
}


.cuerpo-texto{
    font-size: 12px;
    font-family: "roboto";
    margin: auto;
}


.container-novedades{
    display: flex;
    justify-content: space-around;
}

.contenedor-categorias {
    border-radius: 100%;
}


