<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lista Usuarios</title>
        <link rel= "stylesheet" href="/css/listaUsuarios-style.css">
    </head>
    <body>
        <div class = "contenedor-logo">
            <a href = "/"><img src = "/img/logo-mercado-liebre.svg" class = "logo"></a>
        </div>    
        <main>
            <h1>User List</h1>
            <div class= "container-cards-users"> 
                <div>
                    <ul>
                        <% for (let i = 0; i < users.length; i++) { %>
                            <li class = "container-user" id ="item">
                                <a href="users/detail/<%= users[i].id %>" class=><%= users[i].nombre %> </a>
                                <p class=><%= users[i].email %></p>
                                <a href="#" class= "btn"> Delete</a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </main>
    </body>
</html>