<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/crearProducto-style.css">
    <link rel ="icon" href="/img/logo-mercado-liebre.ico">
    <%- include("../partials/head.ejs") %>
    <title>Creacion de Producto</title>
</head>
<body>
    <div class = "container-logo">
        <a href = "/"><img src = "/img/logo-mercado-liebre.svg" class = "image-logo" width="200px"></a>
    </div> 
    <br>
    <div class = "form-create-product">
        <div class = "columns is-centered">
            <div class="column is-6">
                <h2>Creacion de nuevo producto</h2>
                <form action="/productos/crear" method="POST" enctype="multipart/form-data">
                    <div class="field">
                        <label for="nombre">Nombre del producto</label>
                        <div class="control">
                            <input type="text" name="nombre">
                        </div>
                        <p class="feedback"></p>
                    </div>
                    <div class="field">
                        <label for="description">Descripcion</label>
                        <div class="control">
                            <input type="text" name="description" >
                        </div>
                        <p class="feedback"></p>
                    </div>
                    <div class="field">
                        <label for="imageProduct">Imagen del producto</label>
                        <div class="control">
                            <input type="file" name="imageProduct" >
                        </div>
                        <p class="feedback"></p>
                    </div>
                    <div class="field">
                        <label for="category">Categoria</label>
                        <div class="control">
                            <input type="text" name="category" >
                        </div>
                        <p class="feedback"></p>
                    </div>
                    <div class="field">
                        <label for="price">Precio</label>
                        <div class="control">
                            <input type="text" name="price" >
                        </div>
                        <p class="feedback"></p>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button type="submit" class ="boton">Crear producto</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class = "ultima-parte-footer">

        <br>
        <p class = "copyright-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        
    </div>    
</body>
</html>