<html lang="en">
    <%- include("partials/head.ejs") %>
    <body>
        <%- include("partials/header.ejs") %>
        <h1><%= producto.nombre %></h1>
        <div class = "ultima-parte-footer">

            <br>
            <p class = "copyright-footer">Copyright © Tienda Golf Eos S.R.L.</p>
            
        </div>
    </body>
</html>