<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel ="icon" href="/img/logo-mercado-liebre.ico">
        <%- include("../partials/head.ejs") %>
    </head>
    <body>
        <%- include("../partials/header.ejs") %>
        <img src = "/img/img-home-banner.jpg" class = "banner">
    <main class = "main-seccion">
        <br>
        <p class = "titulares-seccion" >Basado en tu ultima visita</p>
        <br>
        <section class = "seccion-articulos">
            <article class = "articulo">
                <img class = "imagen" src = "/img/img-macbook-pro-2019.jpg">
                <div class = "elementos-articulo">
                    <div class = "camion-logo">
                        <i class="fas fa-truck truck-logo"></i>
                    </div>
                    <div class="container-product-info">
                        <ul class="lista-oferta-precio">
                            <li type="none" class="precio">$230.000</li>
                            <li type="none" class="oferta">20% OFF</li>
                        </ul>
                    </div>
                    <br>
                    <h4 class="descripcion">Macbook Pro 2019</h4>
                </div>
            </article>
            <article class = "articulo">
                    <img class = "imagen" src= "/img/img-samsung-galaxy-s10.jpg" >
                    <div class = "elementos-articulo">
                        <div class = "camion-logo">
                            <i class="fas fa-truck truck-logo"></i>
                        </div>
                        <div class="container-product-info">
                            <ul class="lista-oferta-precio">
                                <li type="none" class="precio">$70.7500</li>
                                <li type="none" class="oferta">10% OFF</li>
                            </ul>
                        </div>
                        <br>
                        <h4 class = "descripcion">Samsung Galaxy s10</h3>
                    </div>
                </article>
                <article class = "articulo">
                    <img class = "imagen" src= "/img/img-cafetera-moulinex.jpg" >
                    <div class = "elementos-articulo">
                        <div class = "camion-logo">
                            <i class="fas fa-truck truck-logo"></i>
                        </div>
                        <div class="container-product-info">
                            <ul class="lista-oferta-precio">
                                <li type="none" class="precio">$6.700</li>
                                <li type="none" class="oferta">40% off</li>
                            </ul>
                        </div>
                        <br>
                        <h4 class = "descripcion">Cafetera Moulinex</h4>
                    </div> 
                </article>
                <article class = "articulo">
                    <img class = "imagen" src= "/img/img-tv-samsung-smart.jpg" >
                    <div class = "elementos-articulo">
                        <div class = "camion-logo">
                            <i class="fas fa-truck truck-logo"></i>
                        </div>
                        <div class="container-product-info">
                            <ul class="lista-oferta-precio">
                                <li type="none" class="precio">$23.200</li>
                                <li type="none" class="oferta">5% off</li>
                            </ul>
                        </div>
                        <br>
                        <div class = div-descripcion>
                            <h4 class = "descripcion">SmartTv Samsung 43"</h4>
                        </div>
                    </div> 
                </article>
        </section>
        <br>
        <h2 class = "titulares-seccion" >Ofertas</h2>    
        <br>
            <section class = "seccion-articulos">
                <article class = "articulo">
                    <img class = "imagen" src="/img/img-cafetera-moulinex.jpg">
                    <div class="elementos-articulo">
                        <div class = "camion-logo">
                            <i class="fas fa-truck truck-logo"></i>
                        </div>
                        <ul class="lista-oferta-precio">
                            <li type="none" class="precio">$6.700</li>
                            <li type="none" class="oferta">40% off</li>
                        </ul>
                    <h4 class = "descripcion">Cafetera Moulinex</h4>
                    </div>
                 </article>
                <article class = "articulo">
                    <img class = "imagen" src="/img/img-tv-samsung-smart.jpg">
                    <div class="elementos-articulo">
                        <div class = "camion-logo">
                            <i class="fas fa-truck truck-logo"></i>
                        </div>
                        <ul class="lista-oferta-precio">
                            <li type="none" class="precio">$23.200</li>
                            <li type="none" class="oferta">5% off</li>
                        </ul>
                    <h4 class = "descripcion">SmartTv Samsung 43"</h4>
                    </div>  
                </article>
                <article class = "articulo">
                    <img class = "imagen" src = "/img/img-macbook-pro-2019.jpg">
                    <div class="elementos-articulo">
                        <div class = "camion-logo">
                        <i class="fas fa-truck truck-logo"></i>
                        </div>
                    <ul class="lista-oferta-precio">
                        <li type="none" class="precio">$230.000</li>
                        <li type="none" class="oferta">20% OFF</li>
                    </ul>
                    <h4 class = "descripcion">Macbook Pro 2019</h4>
                    </div>
                </article>
                <article class = "articulo">
                    <img class = "imagen" src= "/img/img-samsung-galaxy-s10.jpg" >
                    <div class="elementos-articulo">
                        <div class = "camion-logo">  
                            <i class="fas fa-truck truck-logo"></i>
                        </div>
                        <ul class="lista-oferta-precio">
                            <li type="none" class="precio">$70.500</li>
                            <li type="none" class="oferta">10% off</li>
                        </ul>
                    <h4 class = "descripcion">Samsung Galaxy S10</h4>
                    </div>
                </article>
                </section>
    <br>
    <br>
    <br>            
    </main>
    </body>
    <%- include("../partials/footer.ejs") %>
</html>