<!DOCTYPE html>
<html lang="en">

  <head>
      <link rel ="icon" href="/img/logo-mercado-liebre.ico">
      <%- include("../partials/head.ejs") %>
  </head>
  <body>

      <%- include("../partials/header.ejs") %>
            <!--Carrousel-->
      <section id="carouselExampleIndicators" class="container-md carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="4000">
              <a href="#"><img src="/img/banner-bertha.jpeg" class="d-block w-100" ></a>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <a href="#"><img src="/img/banner-golf-mavrik.jpeg" class="d-block w-100" ></a>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <a href="#"><img src="/img/banner-golf-3.jpeg" class="d-block w-100" ></a>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
      </section>
        
      <main class="container-main" style="background-color: #ebebeb;">

        <h3 class = "container-novedades" style="padding: 50px;">Categorias</h3>
  
        <section class="container">
          <div class="row fila " >
            <a href="#" class="col" style="border: solid 1px black; padding: 30px;">
              <img src="/img/iconos-categorias/icono-pelota.png" class="img-fluid" width="200px" style="margin-left: 35px;">
            </a>
            <a href="#" class="col" style="border: solid 1px black; padding: 30px;">
              <img src="/img/iconos-categorias/icono-indumentaria.png" class="img-fluid" width="200px" style="margin-left: 35px;">
            </a>
            <a href="#" class="col" style="border: solid 1px black; padding: 30px;" >
              <img src="/img/iconos-categorias/icono-palo.png" class="img-fluid" width="200px" style="margin-left: 35px;">
            </a>
            <a href="#" class="col" style="border: solid 1px black; padding: 30px;">
              <img src="/img/iconos-categorias/icono-bolsa.png" class="img-fluid" width="200px" style="margin-left: 35px;">
            </a>
          </div>
        </section>

        <section class="container">
          <div class="row fila ">
            <a href="#" class="col" style="border: solid 1px black; padding: 30px;">
              <img src="/img/iconos-categorias/icono-guante.png" class="img-fluid" width="200px" style="margin-left: 35px;">
            </a>
            <a href="#" class="col" style="border: solid 1px black; padding: 30px;">
              <img src="/img/iconos-categorias/icono-femenino.png" class="img-fluid" width="200px" style="margin-left: 35px;">
            </a>
            <a href="#" class="col" style="border: solid 1px black; padding: 30px;">
              <img src="/img/iconos-categorias/icono-zapato.png" class="img-fluid" width="200px" style="margin-left: 35px;">
            </a>
            <a href="#" class="col" style="border: solid 1px black; padding: 30px;">
              <img src="/img/iconos-categorias/icono-gorra.png" class="img-fluid" width="200px" style="margin-left: 35px;">
            </a>
          </div>
        </section> 

        <br>   
        <br>  
      </main>
      <%- include("../partials/footer.ejs") %>
  </body>
</html>